name: Testing Coverage

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  coverage:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run coverage
        run: |
          pip install .[testing]
          coverage3 run --source thrml_boost --parallel-mode -m pytest -m "not slow" tests/
          coverage3 combine
          coverage3 html
          coverage3 report --fail-under=90
